{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bienvenue dans mon blog crée en Symfony</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Delectus ducimus eum explicabo nihil nobis officiis, optio quidem quos suscipit voluptates! Accusamus accusantium
    assumenda consectetur debitis error eveniet fugiat ipsa labore nam obcaecati perferendis placeat quis, ratione
    sapiente voluptatum? Aperiam deleniti dicta est facere ipsa, libero pariatur porro quae ratione ullam.</p>

    <p>
    Deserunt eum molestias nemo odio quos! Aperiam consectetur consequatur, ex fuga inventore nulla obcaecati
    praesentium ratione sapiente soluta tempore veritatis. Dolorum impedit ipsam necessitatibus perferendis possimus
    quae reprehenderit! Aperiam error esse nobis repudiandae rerum, totam vero. Consectetur deserunt doloremque
    doloribus dolorum error facilis, laboriosam maxime nesciunt quos repellendus, sunt tenetur.</p>

    <p>A aspernatur aut
    autem culpa doloremque error esse, est eveniet ex exercitationem explicabo facilis fugiat fugit inventore ipsam
    laudantium magni modi, molestiae molestias optio perferendis possimus praesentium provident quasi qui, recusandae
    sapiente sequi temporibus velit voluptas. Asperiores distinctio dolor itaque maiores, omnis quidem repellendus
    similique tempora ut veritatis. Molestias, veniam?</p>

    <p>Ab aspernatur cumque dignissimos, dolore fugiat maiores
    porro! Accusamus dolore ducimus eum eveniet ex excepturi perspiciatis porro, quisquam saepe. Aliquid aspernatur
    assumenda doloremque earum, error fugiat fugit incidunt iste nihil odio perferendis quae reprehenderit rerum sit
    tempore ut veritatis voluptas? Accusamus aperiam asperiores beatae consequatur dolorem eveniet harum quae?
    Distinctio.</p>

{% endblock %}



