{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/06/2019 à 9:50 dans la catégorie Musique</div>
        <div class="content"><img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet, quibusdam! Inventore unde
                voluptas voluptate?</p>
            <p>Blanditiis dolore excepturi mollitia neque nesciunt nobis obcaecati officia quibusdam reprehenderit vero?
                Cumque, illo, molestias.</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a></div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/06/2019 à 9:50 dans la catégorie Musique</div>
        <div class="content"><img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet labore laboriosam, natus quaerat quam
                rem!</p>
            <p>Assumenda atque expedita ipsam nulla quibusdam? Assumenda consequuntur cum error et harum maiores
                mollitia tenetur?</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a></div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/06/2019 à 9:50 dans la catégorie Musique</div>
        <div class="content"><img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dicta dolor recusandae. Deleniti, esse
                quisquam?</p>
            <p>Beatae cum cupiditate eius enim nisi, nostrum voluptas voluptatum! At dolorum eaque eos nihil nulla.</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a></div>
    </article>
{% endblock %}
