{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/06/2019 à 9:50 dans la catégorie Musique</div>
        <div class="content"><img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur iure mollitia natus nesciunt vitae
                voluptate?</p>
            <p>Aliquam atque consequuntur eveniet fuga odio pariatur quaerat repellendus sint. Alias deleniti nesciunt
                nisi ratione.</p>
            <a href="" class="btn btn-primary">Lire la suite</a></div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/06/2019 à 9:50 dans la catégorie Musique</div>
        <div class="content"><img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi cupiditate repellat vel,
                veniam voluptates!</p>
            <p>Aliquam autem dolorem ea enim explicabo facere, facilis harum itaque, neque nostrum rem totam unde?</p>
            <a href="" class="btn btn-primary">Lire la suite</a></div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/06/2019 à 9:50 dans la catégorie Musique</div>
        <div class="content"><img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur hic ipsam nihil officiis
                quas.</p>
            <p>Ab dolor dolores eos eveniet magni necessitatibus neque sunt vero. Asperiores impedit minus molestiae
                natus.</p>
            <a href="" class="btn btn-primary">Lire la suite</a></div>
    </article>
{% endblock %}
